@model RealEstateWebsite.Models.Block

    <link href="~/Content/Censor/slideshow.css" rel="stylesheet" />
    <link href="~/Content/Censor/notifications/Lobibox.min.css" rel="stylesheet" />
    <link href="~/Content/Censor/notifications/notifications.css" rel="stylesheet" />


    <script src="~/Scripts/Censor/notifications/notification-active.js"></script>
    <script src="~/Scripts/Censor/notifications/Lobibox.js"></script>
    <script>
        var urlApprove = '/Censor/Customer/BlockCustomer';

        $(function () {
            $("#btnSubmit").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "GET",
                    url: urlApprove,
                    contentType: "application/html; charset=utf-8",
                    data: { "post_ID": id },
                    datatype: "text",
                    success: function (data) {
                        if (data == "1") {
                            $('#PrimaryModalalert1').modal('hide');
                            $("#customerindex").load(location.href + " #customerindex>*", "");
                            Lobibox.notify('success', {
                                msg: 'Approve POST successed!'
                            });
                        } else {
                            Lobibox.notify('error', {
                                msg: 'Approve POST failed! Please try again.'
                            });
                        }
                    },
                    error: function () {
                        Lobibox.notify('error', {
                            msg: 'Approve POST failed! Please try again.'
                        });
                    }
                });
            });
    </script>
    <script src="~/Scripts/Censor/slideshow.js"></script>

    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#description">Basic Information</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div id="dropzone1" class="pro-ad">
                                               
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(n => n.Reason, htmlAttributes: new { @name = "Reason", @class = "form-control", @placeholder = "Reason" })
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="payment-adress">
                                                                    <button type="submit" id="btnBlock" data-id="@Model.Customer.Customer_ID" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                
