@model RES.Data.DBModels.Admin

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var notice = TempData["Notice"];

    if (notice != null)
    {
        ViewData["Notice"] = notice;
    }
}
<div class="animated fadeIn container">
    <div class="row">
        <div class="col-12">
            <partial name="~/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml" model="@(ViewData["Notice"] == null ? null : ViewData["Notice"].ToString())" />
            <div class="col-md-4">
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AdminId" />
                    <div class="form-group">
                        <label class="control-label">Mật khẩu mới</label>
                        <input name="password" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nhập lại mật khẩu mới</label>
                        <input name="repassword" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

