
@{
    ViewBag.Title = "InformationTeam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="team" id="team" style="padding-left:10%">
    <div class="container">
        <h3 class="tittle">Team</h3>
        <!--/about-section-->
        <div class="about-section agileits">
            <div class="col-md-7 ab-left">
                <div class="grid">
                    <div class="h-f">
                        <figure class="effect-jazz">
                            <img src="~/Images/User/team/CongAn.png" alt="img25">
                            <figcaption>
                                <h4>Ander<span>son</span></h4>
                                <ul class="top-links two">
                                    <li><a href="https://www.facebook.com/cong.an.3958"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                                </ul>
                                <p>
                                    DEVELOPER
                                </p>

                            </figcaption>
                        </figure>

                    </div>
                    <div class="h-f">
                        <figure class="effect-jazz">
                            <img src="" alt="img25">
                            <figcaption>
                                <h4>Ander<span>son</span></h4>
                                <ul class="top-links two">
                                    <li><a href="https://www.facebook.com/thuydx.98?ref=br_rss"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                                </ul>
                                <p>
                                    LEADER
                                </p>

                            </figcaption>
                        </figure>

                    </div>
                    <div class="h-f">
                        <figure class="effect-jazz">
                            <img src="~/Images/User/team/NguyenThien.png" alt="img25">
                            <figcaption>
                                <h4>Ed<span>wards</span></h4>
                                <ul class="top-links two">
                                    <li><a href="https://www.facebook.com/profile.php?id=100004940109107"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                                </ul>
                                <p>
                                    DEVELOPER
                                </p>

                            </figcaption>
                        </figure>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-5 ab-text">
                <h4 class="tittle">About Us</h4>
                <p>
                    Team tuyển, một người gánh hai người
                </p>
                <div class="start">
                    <a href="#" data-toggle="modal" data-target="#myModal1" class="hvr-bounce-to-bottom">Get Started</a>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
        <!--//about-section-->
        <!--/about-section2-->
        <div class="about-section team2">
            <div class="col-md-5 ab-text two">
                <h4 class="tittle">Welcome</h4>
                <p>
                    Team phế, 2 thằng tự làm hết
                </p>
                <div class="start">
                    <a href="#" data-toggle="modal" data-target="#myModal1" class="hvr-bounce-to-bottom">Get Started</a>
                </div>

            </div>
            <div class="col-md-7 ab-left">
                <div class="grid">
                    <div class="h-f">
                        <figure class="effect-jazz">
                            <img src="~/Images/User/team/NamPhan.jpg" alt="img25">
                            <figcaption>
                                <h4>Chri<span>stopher</span></h4>
                                <ul class="top-links two">
                                    <li><a href="https://www.facebook.com/jokernamphan"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                                </ul>
                                <p>
                                    DEVELOPER
                                </p>

                            </figcaption>
                        </figure>

                    </div>
                    <div class="h-f">
                        <figure class="effect-jazz">
                            <img src="~/Images/User/team/ThienQuoc.jpg" alt="img25">
                            <figcaption>
                                <h4>Andrew<span>Mark</span></h4>
                                <ul class="top-links two">
                                    <li><a href="https://www.facebook.com/quoc.nguyenthien.9"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                                </ul>
                                <p>
                                    DEVELOPER
                                </p>

                            </figcaption>
                        </figure>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!--//about-section2-->
    </div>
</div>

