
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>404 Page | Real Estate System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Censor/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/Censor/owl.theme.css">
    <link rel="stylesheet" href="~/Content/Censor/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/normalize.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/Content/Censor/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Content/Censor/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Censor/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Scripts/Censor/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="error-pagewrap">
        <div class="error-page-int">
            <div class="content-error">
                <h1>ERROR <span class="counter">404</span></h1>
                <p>Sorry, but the page you are looking for has note been found. Try checking the URL for the error, then hit the refresh button on your browser or try found something else in our app.</p>
                @Html.ActionLink("Return Dashboard", "Index", "Home")
            </div>
            <div class="text-center login-footer">
                <p>Copyright © 2018 Real Estate System></p>
            </div>
        </div>
    </div>
    <!-- jquery
        ============================================ -->
    <script src="~/Scripts/Censor/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Scripts/Censor/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/Scripts/Censor/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/Scripts/Censor/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Scripts/Censor/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/Scripts/Censor/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/Scripts/Censor/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Scripts/Censor/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Scripts/Censor/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/Censor/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/Scripts/Censor/counterup/jquery.counterup.min.js"></script>
    <script src="~/Scripts/Censor/counterup/waypoints.min.js"></script>
    <script src="~/Scripts/Censor/counterup/counterup-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/Scripts/Censor/metisMenu/metisMenu.min.js"></script>
    <script src="~/Scripts/Censor/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/Scripts/Censor/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/Censor/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="~/Scripts/Censor/calendar/moment.min.js"></script>
    <script src="~/Scripts/Censor/calendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/Censor/calendar/fullcalendar-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/Scripts/Censor/tab.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/Scripts/Censor/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Scripts/Censor/main.js"></script>
</body>

</html>
